
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #f0f7fa;
  }
  
  .user-list-container {
    width: 80%;
    max-width: 1000px;
    margin-top: 20px;
  }
  
  .user-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .user-item {
    background-color: #b0d4e5;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
  }
  
  .user-item h3 {
    margin: 5px 0;
    color: #355c7d;
  }
  
  .user-item p {
    margin: 0;
    color: #355c7d;
  }
  
  .user-item:hover {
    background-color: #88a9bc;
  }
  
  .editor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
  }
  
  .editor h2 {
    color: #355c7d;
    margin-bottom: 10px;
  }
  
  .editor h3 {
    color: #355c7d;
    margin-bottom: 5px;
  }
  
  .editor ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .editor li {
    color: #355c7d;
    margin-bottom: 5px;
  }
  
  .editor label {
    color: #355c7d;
    display: block;
    margin-bottom: 5px;
  }
  
  .editor input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .editor button {
    background-color: #355c7d;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .editor button:hover {
    background-color: #2a465a;
  }
  
.back-button {
    background-color: #ccc;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .back-button:hover {
    background-color: #999;
  }
  .sidebar_2 {
    position: absolute;
    background-color: #8C32FF;
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    max-width: 6%!important;
    max-height: 100%;
    right: 4%;
    top:0;
    height: 90%;
  }
  
  .span_1 {
    color: black;
    margin: 0;
  }
  
  .span_side_2 {
    color: white;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    text-justify: inter-word;
    align-items: center;
  }
  /* Admin.css */

/* Estilos para el contenido fuera del sidebar */
.admin-content {
    padding: 20px;
    height: 100vh;
    background-color: #f0f0f0;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
  }
  
  .admin-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .admin-link {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  .admin-button {
    display: block;
    width: 20rem;
    padding: 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .admin-button:hover {
    background-color: #286090;
  }

  
/* Estilos generales */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #f0f0f0;
    height: 100vh;
  }
  
  /* Formulario de notificación */
  .notification-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60%;
  }
  
  .notification-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .notification-form input,
  .notification-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .notification-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .notification-form button:hover {
    background-color: #0056b3;
  }
  /* Media query para pantallas de 950px o menos */
  @media (max-width: 950px) {
    .user-list {
        grid-template-columns:1fr;
      }
  }