.file-uploader-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.file-uploader-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.file-uploader-form {
  display: flex;
  flex-direction: column;
}

.file-input-label {
  font-size: 16px;
  margin-bottom: 10px;
}

.file-input {
  margin-bottom: 10px;
}

.path-input-label {
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
}

.path-input {
  margin-bottom: 10px;
}

.path-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.path-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button {
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.file-url {
  font-size: 18px;
  margin-top: 20px;
}

.file-uploader-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.file-uploader-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.file-uploader-form {
  display: flex;
  flex-direction: column;
}

.file-input-container,
.path-input-container {
  margin-bottom: 10px;
}

.file-input-label,
.path-input-label {
  font-size: 18px;
  margin-bottom: 5px;
}

.file-input,
.path-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.path-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.path-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.submit-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.submit-button:hover,
.path-button:hover {
  background-color: #218838;
}

/* Additional styles for titles */
.path-buttons p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
}

/* Contenedor principal */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Encabezado principal */
.main-heading {
  margin-bottom: 20px;
}

/* Lista de usuarios */
.user-list {
  list-style: none;
  padding: 0;
}

.user-item {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.user-item:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

/* Editor flotante */
.editor-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-color: #b8b8b8;
  width: 300px;
  height: 80%;
  overflow: auto; /* Agrega una barra de desplazamiento cuando sea necesario */
  border: 1px solid #ccc;
  padding: 10px;
}

.editor-heading {
  margin-top: 0;
}

.back-button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.sub-heading {
  margin-top: 20px;
}

.access-list {
  list-style: none;
  padding: 0;
}

.access-list li {
  margin-bottom: 5px;
}

.add-course-form {
  margin-top: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0056b3;
}

.list {
  list-style: none;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.course-card {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.course-title {
  font-size: 16px;
  margin: 0;
}

.course-id {
  font-size: 12px;
  margin: 5px 0 0;
  color: #555;
}