/* Estilos para bigbox, whitebox y blackbox */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 32px;
  height: 32px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #cfcfcf;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.bigbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr)!important;
    padding: 10px;
    width: 100%;
  }
  .divisor {
    display: grid;
    align-self: center;
    justify-self: center;
    text-align: center;
    text-justify: center;
    grid-template-columns: 70% 30%;
    grid-template-areas: "a b" "a c" "d d";
    grid-gap: 35px;
  }
  

  .whitebox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 0 10px 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .whitebox_1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    grid-area: a;
    background-color: white;
    border-radius: 10px;
    padding: 0 10px 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .whitebox_2 {
    display: grid;
    align-self: flex-end;
    background-color: white;
    border-radius: 10px;
    height: 7rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  
  .whitebox_3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    grid-area: d;
    background-color: white;
    border-radius: 10px;
    padding: 0 10px 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  h2  {
    margin: 0;
  }
  p {
    margin: 0;
  }
  .blackbox_1 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%;
    background-color: #2f2f2f;
    border-radius: 10px;
    padding-top: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .canvas{
    width: 90%;
    height: 15rem;
  }
  .blackbox_2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    background-color: #2f2f2f;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  /* Estilos para customStyle */
  .customStyleBack {
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 85% 15%;
    grid-template-rows: 1fr;
    padding: 0;
    width: auto;
    justify-self: center;
    align-self: center;
    height: 100%;

    background:linear-gradient(280deg, rgb(24, 24, 24, 1) 0%, rgb(31, 31, 32, 0.4) 100%), url("https://imgur.com/Sl2asOL.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
  }
  .identidad {
    position: absolute;
    align-items: center;
    justify-items: center;
    grid-template-columns: 85% 15%;
    grid-template-rows: 1fr;
    padding: 0;
    width: 100%;
    justify-self: center;
    align-self: center;
    height: 100%;
    background:linear-gradient(280deg, rgb(24, 24, 24, 1) 0%, rgb(31, 31, 32, 0.4) 100%), url("https://imgur.com/Sl2asOL.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
  }
  .vinonuevo {
    position: absolute;
    align-items: center;
    justify-items: center;
    grid-template-columns: 85% 15%;
    grid-template-rows: 1fr;
    padding: 0;
    width: 100%;
    justify-self: center;
    align-self: center;
    height: 100%;
    background:linear-gradient(280deg, rgb(24, 24, 24, 1) 0%, rgb(31, 31, 32, 0.4) 100%), url("https://imgur.com/gxYph1o.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
  }
  .espiritu {
    position: absolute;
    align-items: center;
    justify-items: center;
    grid-template-columns: 85% 15%;
    grid-template-rows: 1fr;
    padding: 0;
    width: 100%;
    justify-self: center;
    align-self: center;
    height: 100%;
    background:linear-gradient(280deg, rgb(24, 24, 24, 1) 0%, rgb(31, 31, 32, 0.4) 100%), url("https://imgur.com/jLFfNTW.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
  }
  .guerra {
    position: absolute;
    align-items: center;
    justify-items: center;
    grid-template-columns: 85% 15%;
    grid-template-rows: 1fr;
    padding: 0;
    width: 100%;
    justify-self: center;
    align-self: center;
    height: 100%;
    background:linear-gradient(280deg, rgb(24, 24, 24, 1) 0%, rgb(31, 31, 32, 0.4) 100%), url("https://imgur.com/rJX9hGy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
  }
  .box {
    display: grid;
    width: 14vw;
    height: 13vw;
    background:linear-gradient(280deg, rgb(24, 24, 24, 0.8) 0%, rgb(31, 31, 32, 0.4) 100%), url("https://imgur.com/gxYph1o.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #EAE8E8!important;
    padding: 1.5vw!important;
  }
  .slide {
    height: 100vh; /* Establece la altura al 100% del viewport */
    max-height: 100vh; /* Establece la altura máxima al 100% del viewport */
    overflow-y: auto; 
    padding-left: 60%;
  }
  .titulo {
    position: absolute;
    left: 15%;
    top: 20%;
  }
  .numb-cuadro {
    color: #c8c8c8; 
    font-family: "Lora";
    font-size: 10vw;
  }
  .titlecuadro {
    width: 60%;
    white-space: normal;
    word-wrap: break-word; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5vw;
    color: white;
    line-height: 1.1;
    margin: 0;
  }
  .teacher{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #c8c8c8; 
    font-size: 1.5vw;
  }
  .boton-reproducir {
    width: 50px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    position: relative; /* Posición relativa para permitir posicionar elementos hijos de forma absoluta */
  }
  
  .circulo {
    width: 100%; /* Ancho del círculo igual al del contenedor */
    height: 100%; /* Altura del círculo igual al del contenedor */
    border-radius: 50%; /* Hace que el elemento sea un círculo */
    background-color: white; /* Color del círculo */
  }

  .numb {
    color: #c8c8c8; 
    font-family: "Lora";
    font-size: 2vw;
    text-align: end;
  }
  .triangulo {
    width: 0; /* Ancho inicial del triángulo */
    height: 0; /* Altura inicial del triángulo */
    border-style: solid; /* Define el estilo del borde como sólido */
    border-width: 12.5px 0 12.5px 20px; /* Ancho del borde del triángulo (arriba, derecha, abajo, izquierda) */
    border-color: transparent transparent transparent black; /* Color del borde (arriba, derecha, abajo, izquierda) */
    position: absolute; /* Posición absoluta para posicionar el triángulo dentro del círculo */
    top: 50%; /* Posiciona el triángulo en la mitad vertical del círculo */
    left:55%; /* Posiciona el triángulo en la mitad horizontal del círculo */
    transform: translate(-50%, -50%) rotate(0deg); /* Centra el triángulo dentro del círculo y le da una rotación inicial */
  }
  .boton-reproducir2 {
    cursor: pointer;
    width: 80px; /* Ancho del botón */
    height: 80px; /* Altura del botón */
    position: relative; /* Posición relativa para permitir posicionar elementos hijos de forma absoluta */
  }
  
  .circulo2 {
    width: 100%; /* Ancho del círculo igual al del contenedor */
    height: 100%; /* Altura del círculo igual al del contenedor */
    border-radius: 50%; /* Hace que el elemento sea un círculo */
    background-color: white; /* Color del círculo */
  }


  .triangulo2 {
    cursor: pointer;
    width: 0; /* Ancho inicial del triángulo */
    height: 0; /* Altura inicial del triángulo */
    border-style: solid; /* Define el estilo del borde como sólido */
    border-width: 20.5px 0 20.5px 28px; /* Ancho del borde del triángulo (arriba, derecha, abajo, izquierda) */
    border-color: transparent transparent transparent black; /* Color del borde (arriba, derecha, abajo, izquierda) */
    position: absolute; /* Posición absoluta para posicionar el triángulo dentro del círculo */
    top: 50%; /* Posiciona el triángulo en la mitad vertical del círculo */
    left:55%; /* Posiciona el triángulo en la mitad horizontal del círculo */
    transform: translate(-50%, -50%) rotate(0deg); /* Centra el triángulo dentro del círculo y le da una rotación inicial */
  }
  .title-white{
    color: #EAE8E8;
    text-align: start;
    padding-left: 2rem;
  }
  /* Estilos para header y button */
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: end;
    height: 50px;
    width: 100%;
  }
  
  .button {
    background-color: #333333;
    padding: 5px;
    min-width: 150px;
    width: 50px;
    height: 39px;
    padding: 0 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    justify-self: end;
    margin: 10px;
  }
  
  /* Estilos para box y name_tittle */
  .box {
    border-radius: 12px;
    padding: 10px;
    width: 80%;
    display: grid;
    margin: 10px;
    text-decoration: none;
    color: black;
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
  }
  .box:hover {
    border-radius: 12px;
    padding: 10px;
    width: 80%;
    display: grid;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: #2f2f2f;
  }
  
  .name_tittle {
    justify-self: start;
    margin: 15px;
    color: grey;
  }

  /* Estilos para img y main */
.img {
    border-radius: 8px;
    width: 100%;
  }
  
  .main {
    display: grid;
    grid-template-columns: 20% 71% 7%;
    padding: 10px;
    grid-gap: 5px;
    width: 100%;
  }
  
  /* Estilos para sidebar_2, span_1 y span_side_2 */
  .sidebar_2 {
    position: absolute;
    background-color: #8C32FF;
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    max-width: 6%!important;
    max-height: 100%;
    right: 4%;
    top:0;
    height: 90%;
  }
  
  .span_1 {
    color: black;
    margin: 0;
  }
  
  .span_side_2 {
    color: white;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    text-justify: inter-word;
    align-items: center;
  }
  
  /* Estilos para sidebar, button_selected, button_pressed y buttons */
  .sidebar {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    width: 100%;
    height: auto;
    margin: 15px;
    justify-self: center;
    align-self: start;
    border-radius: 10px;
  }
  
  .button_selected, .button_pressed, .buttons {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    width: 100%;
    height: 100px;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .button_selected {
    background-color: #333333;
  }
  
  .button_pressed {
    background-color: #656565;
  }
  
  .buttons {
    background-color: white;
  }
  
  /* Estilos para bigbox_3 y a */
  .bigbox_3 {
    background-color: #EAE8E8;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    margin: 0 40px;
  }
  
  .a {
    text-decoration: none;
    background-color: #333333;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    display: grid;
    align-self: end;
    justify-self: end;
    margin: 0 0 25px;
  }
  

  /* Estilos para buttonMore y dividente */

  .buttonMore {
    display: grid;
    align-self: center;
    justify-self: center;
    text-align: center;
    text-justify: center;
  }
  
  .dividente {
    display: grid;
    align-self: center;
    justify-self: center;
    text-align: center;
    text-justify: center;
    grid-template-columns: 1fr 1fr;
  }

.img {
    border-radius: 8px;
    width: 100%,
}
  
.link_1 {
    display: grid;
    text-decoration: none;
    color: #2f2f2f;
    transition: all 40ms cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.link_1:hover {
    text-decoration: none;
    color: #7b38c2;
}
.link {
    display: grid;
    text-decoration: none;
    color: #2f2f2f;
    transition: all 40ms cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color:#EAE8E8;
    border-radius: 10px;
    height: 9rem;
    grid-gap: 1rem;
}
.link:hover {
    text-decoration: none;
    color: #7b38c2;
}
.title-white-1 {
    text-decoration: none;
    color: #ffffff;
    font-size: medium;
    font-weight: 500;
    margin: 1.5rem 0 ;
}
.title-white-2 {
    text-decoration: none;
    color: #ffffff;
    font-size: medium;
    font-weight: 500;
    margin: 2rem 0 0;
    padding-left: 2rem;
    text-align: start;
}
.h2_margin
{
    margin: 2rem 0;
}
@media (max-width: 950px) {
    .bigbox {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
        width: 100%;
      }
    .customStyle {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
      }
    .divisor {
        display: grid;
        align-self: center;
        justify-self: center;
        text-align: center;
        text-justify: center;
        grid-template-columns: 1fr;
        grid-template-areas: "a" "b" "c" "d";
        grid-gap: 35px;
      }
  }